@model API.Models.PaymentDetail

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutDashboard";
}

<div class="flex px-16 gap-10 py-5 max-h-screen">
    <!-- Side Bar -->
    <section class="w-1/5 bg-gradient-to-r from-third to-secondary rounded-2xl text-white" id="sidebar">
        <img src="~/img/logo.png" alt="" class="px-5 pt-5" />
        <div class="border-b-2 border-primary border-dashed w-full mb-4"></div>
        <!-- Dashboard -->
        <div class="px-10 text-xl my-2">
            <a href="~/payroll" class="flex gap-5">
                <i class="fa-regular fa-calendar-check"></i>
                <p>Dashboard</p>
            </a>
        </div>
        <!-- Overtime -->
        <div class="px-10 text-xl my-2">
            <a href="~/dashboard/overtime" class="flex gap-5">
                <i class="fa-regular fa-rectangle-list"></i>
                <p>Overtime</p>
            </a>
        </div>
        <!-- Payroll -->
        <div class="px-10 text-xl my-2">
            <a href="~/payroll/all" class="flex gap-5">
                <i class="fa-solid fa-money-bill-wave"></i>
                <p>Payroll</p>
            </a>
            <div class="border-b-2 border-primary w-full mb-4"></div>
        </div>
        <!-- Logout -->
        <div class="px-10 text-xl my-2">
            <a href="/Logout" class="flex items-center gap-5">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <p>Logout</p>
            </a>
        </div>
    </section>
    <!-- Header and Content -->
    <section class="w-4/5 backdrop-blur-md text-third px-10 relative rounded-2xl" id="payrollList">
        <!-- Header -->
        <div class="">
            <div class="flex flex-wrap justify-between items-center mb-5">
                <h1 class="text-3xl font-bold">Edit Overtime Payroll</h1>
                <div class="flex gap-5 items-center">
                    <a href="" class="bg-third px-5 py-2 rounded-lg shadow-md text-white shadow-slate-600 hover:bg-secondary hover:shadow-none">History Overtime</a>
                    <a href=""><i class="fa-regular fa-bell text-2xl"></i></a>
                    <div class="w-14 h-1/4rounded-full">
                        <img src="~/img/profile.png" alt="" class="" />
                    </div>
                </div>
                <div class="border-b-2 border-slate-700 border-dashed w-full"></div>
            </div>
        </div>

        <!-- Content -->
        <div class="border-2 border-slate-500 rounded-lg p-5 relative">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Guid -->
                <input asp-for="Guid" type="text" id="editPaymentGuid" class="form-control hidden">
                <div class="form-group mb-6">
                    <!-- Overtime Pay -->
                    <label asp-for="TotalPay" class="control-label block mb-1 text-sm font-medium text-gray-900 dark:text-white">Overtime Pay</label>
                    <input asp-for="TotalPay" type="text" id="editOvertimePay" class="form-control bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <span asp-validation-for="TotalPay" class="text-danger"></span>
                </div>
                <div class="form-group mb-6">
                    <!-- PaymentStatus -->
                    <label asp-for="PaymentStatus" class="form-label control-label block mb-1 text-sm font-medium text-gray-900 dark:text-white">Status</label>
                    <select asp-for="PaymentStatus" id="editPaymentStatus" name="paymentStatus" class="form-select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option id="unpaid" value=0>Unpaid</option>
                        <option id="paid" value=1>Paid</option>
                    </select>
                    <span asp-validation-for="PaymentStatus" class="text-danger"></span>
                </div>
            </form>
            <div class="flex justify-center">
                <div>
                    <button type="submit" id="editSubmitPayroll" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mx-1 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 w-20">
                        Save
                    </button>
                </div>
                <div>
                    <a type="button" asp-action="All" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mx-1 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 w-20">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

@section CssSection{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/sweetalert/dist/sweetalert2.all.min.js" asp-append-version="true"></script>
    <script src="~/js/payrollEdit.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
