@{
    ViewData["Title"] = "Employee | Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboardBase.cshtml";
}

@using System.Security.Claims;
@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var name = "user";
    var email = "";
    var guidEmployee = "";
    if (claimsIdentity != null)
    {
        // Get the value of a specific claim
        var emailClaim = claimsIdentity.FindFirst(ClaimTypes.Email);
        var fullNameClaim = claimsIdentity.FindFirst(ClaimTypes.Name);
        var identifierClaim = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier);

        if (emailClaim != null)
        {
            email = emailClaim.Value;
        }

        if (identifierClaim != null)
        {
            guidEmployee = identifierClaim.Value;
        }

        if (fullNameClaim != null)
        {
            name = fullNameClaim.Value;
        }
    }
}

<div class="flex px-16 gap-10 py-5 max-h-screen">
    <section class="w-1/5 bg-gradient-to-r from-third to-secondary rounded-2xl text-white" id="sidebar">
        <img src="~/img/logo.png" alt="" class="px-5 pt-5" />
        <div class="border-b-2 border-primary border-dashed w-full mb-4"></div>
        <div class="px-10 text-xl my-2">
            <a href="" class="flex items-center gap-5">
                <i class="fa-regular fa-calendar-check"></i>
                <p>Dashboard</p>
            </a>
            <div class="border-b-2 border-primary w-full mb-4"></div>
        </div>
        <div class="px-10 text-xl my-2">
            <a href="" class="flex items-center gap-5">
                <i class="fa-regular fa-rectangle-list"></i>
                <p>Overtime</p>
            </a>
        </div>
        <div class="px-10 text-xl my-2">
            <a href="" class="flex items-center gap-5">
                <i class="fa-solid fa-users"></i>
                <p>Overtime List</p>
            </a>
        </div>
        <div class="px-10 text-xl my-2">
            <a href="payroll" class="flex items-center gap-5">
                <i class="fa-solid fa-users"></i>
                <p>Payment List</p>
            </a>
        </div>
        <div class="px-10 text-xl my-2">
            <a href="/Logout" class="flex items-center gap-5">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <p>Logout</p>
            </a>
        </div>
    </section>
    <section class="w-4/5 backdrop-blur-md text-third px-10 py-10 relative rounded-2xl" id="schedule">
        <div class="">
            <div class="flex flex-wrap justify-between items-center mb-10">
                <h1 class="text-3xl font-bold">Dashboard</h1>
                <div class="flex gap-5 items-center">
                    <a href="" class="bg-third px-5 py-2 rounded-lg shadow-md text-white shadow-slate-600 hover:bg-secondary hover:shadow-none">Transkip Gaji</a>
                    <a href=""><i class="fa-regular fa-bell text-2xl"></i></a>
                    <div class="w-14 h-1/4rounded-full">
                        <img src="~/img/profile.png" alt="" class="" />
                    </div>
                </div>
                <div class="border-b-2 border-slate-700 border-dashed w-full"></div>
            </div>
            <div class="">
                <!-- Content Row -->
                <div class="row">
                    <!-- Earnings (Monthly) Card -->
                    <div class="col-xl-3 col-md-6 mb-4b">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2" id="monthlyEarnings">
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Earnings (Annual) Card -->
                    <div class="col-xl-3 col-md-6 mb-4b">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2" id="annualEarnings">
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Count Overtime Request (Weekly) Card -->
                    <div class="col-xl-3 col-md-6 mb-4b">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                            Overtime Used (Weekly)
                                        </div>
                                        <div class="row no-gutters align-items-center" id="durationProgress">
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Overtime Requests Approved (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4b">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2" id="pendingRequest">
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4b">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary-chart">Earnings Overview</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myAreaChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4b">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary-chart">Overtime Request (Weekly)</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-pie pt-4 pb-2">
                                    <canvas id="myPieChart"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-primary"></i> Requested
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-success"></i> Approved
                                    </span>
                                    <span class="mr-2">
                                        <i class="fas fa-circle text-info"></i> Rejected
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts{
    <script>
        let employeeGuidClaim = "@guidEmployee"
        let employeeEmail = "@email"
    </script>
    <script src="~/js/dashboardEmployee.js" asp-append-version="true"></script>
}